	body	{ font-family: verdana,arial;font-size:12px}
	.clients{ background:#EFEFEF;text-align:left;margin-bottom:7px;clear:both;}
	.options{ width:50px;text-align:left;}

	.label	{ text-align:left;padding:7px;font-weight:bold}
	.label small	{ text-align:left;padding:7px;font-weight:normal}
	.title	{ font-size: 12px;padding:7px;}


	.clients_widget { width:100%}

	.jobs_widget  {margin-bottom:7px;margin-top:.5em;padding-bottom:.5em;border:1px solid black;background:#EFEFEF} 
	.jobs_widget .title {padding:7px;margin:7px;}
	.jobs_widget .content {overflow:hide;font-size:11px;display:block;}
	.jobs_widget .approvername {overflow:hide;display:block;}
	.jobs_widget .approvertitle {font-weight:bold;float:left;padding-right:.5em;}

	.tasks  { text-decoration:none;list-style-type:none;text-indent:0px;}
	.tasks_widget  { margin-left:0px; padding:0px;width:100%;}
	.tasks_widget .label { margin-left:0px; padding:1em 0px 1.5em 0px}
	.tasks_widget .approvername {overflow:hide;display:block;font-weight:normal}
	.tasks_widget .approvertitle {font-weight:bold;float:left;padding-right:.5em;}

	.notes  { text-decoration:none;list-style-type:none;text-indent:0px;}
	.notes_widget .label { margin-left:0px; padding:1em 0px 1.5em 0px}
	.notes_widget .updated { padding:4px;font-size:.85em}
	.notes_widget  { margin-left:0px; padding:0px;width:100%;}
	.notes_widget .title {padding-top:0px;margin-top:0px; }


	/* Little Fudges for aristo .. */
    .ui-datepicker-title { padding-bottom:10px} 

	.date	{ font-size:.85em;padding:7px;background:#EFEFEF;clear:both;padding:7px;height:23px}
	.desc	{ font-size:13px;border:1px solid #CDCDCD;padding:7px;background:#CDCDCD;color:black;font-weight:normal}

	table	{ margin:0px}
	ul		{ list-style-type:none;margin:0px;padding:0px;text-align:left;}
	li		{ text-align:left;list-style-type:none;margin-left:0px;padding-left:0px;}
	a		{ text-decoration: none; color:black;}

	#archive		{}
	#archive.drop	{font-size:11px;text-align:center;}
	#version		{font-size:10px;}

    .orange { color: orange}
    .logo   { color:black;text-align:left;padding-left:20px;height:40px;font-size:25px;float:left;}
    #menu   { width:100%;clear:both;height:30px;}
    .menu-list  { padding-left:30px;float:left;line-height:30px;};


body {
	font: 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: Tahoma, Arial, Geneva, sans-serif;
	margin: 20px 0 10px;
}



h1 {
	font-size: 2.5em;
}

p {
	margin: 10px 0;
	padding: 0;
}

blockquote {
	font-style: italic;	
}

#header-wrap {
	z-index:2000;
	position: fixed;
	top: 0;
	left: 0;
}

#header-container {
	height: 40px;
}

#header {
	margin: 0 auto;
	position: relative;
}

#header h1 {
	text-align: right;
	width: 33%;
	margin: 0;
	position: absolute;
	left: 0;
	top: 20px;
}



#header h1 em{
	font-size: small;
	display: block;
}

#header ul {
	float:left;
	margin: 0;
	padding: 0px 2%;
	list-style: none;
	/* position: absolute;
	/* top: 35px; */
	right: 0;
}

#header ul li {
	float: left;
	margin-right: 5px;
}

#header ul li a{
	font-weight: bold;
	font-size: 11px;
	margin-right: 5px;
	text-decoration: none;
}

#container {
	width: 100%;
	margin: 0 auto;
	font-size: 11px;
	overflow: auto;
	padding: 10px 0 40px;
}

#sidebar {
	float: right;
	width: 25%;
	margin-top: 10px;
}

#footer-wrap {
	display:none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;	
	height:24px;
	z-index:2000;
}



#footer-container {
	height: 40px;
	display:block;
	border:1px solid black;
	background:#CDCDCD;
}

#footer {
	width: 100%;
	margin: 0 15px;
	position: relative;
	line-height:1.7em;
}
