<?php
// Configurate here

$typeName = strtolower($type);

?>
	<style>
		.content { font-family: arial;font-size:12px;}
		.header { text-align:left}
		.approve { color:green;font-weight:bold}
		.decline { color:red;font-weight:bold}
		.data	{ font-size:12px}
	</style>
	<div class="content">
		<h2>Please approve or decline &quot;<?php echo $item['title'] ?>&quot;</h2>
		<blockquote>
			You have been assigned as the contact to test and approve that this <?php echo $typeName?> has been completed as specified.  Once you have verified, please re-visit this email and click the links below as to whether or not you <b>approve</b> or <b>decline</b> that this <?php echo $typeName?> is completed.
		</blockquote>
		<p>If you decline, you will have the opportunity to make comments as to why.</p>
		<h2><?php echo $type?></h2>
		<fieldset>
				<legend><b><?php echo $item['title']?></b></legend>
				<?php echo $item['content']?></td>
		</fieldset>
<?php if ($typeName == 'job') { ?>
		<h2>Tasks</h2>
			<?php foreach($tasks as $t): ?>
			<?php if ($i++ == 0) { ?>
			<?php } ?>
			<fieldset><legend><b><?php echo $t['title']?></b></legend>
			<b>Start: </b><?php echo $t['start']?>
			<b>Finish: </b><?php echo $t['finish']?>
			<?php if ($t['approveremail']) : ?>
			<b>Approver: </b><?php echo $t['approvername']?>  <?php echo ($t['approved']) ? "<em style=\"color:green\">approved!</em>" : "<em style=\"color:red\">not approved!</em>"; ?>
			<?php endif;?>
			<p>
			<?php echo $t['content']?>
			</p>
			</fieldset>
			<?php endforeach?>

		<h2>Notes</h2>
			<?php foreach($notes as $n): ?>
			<?php if ($i++ == 0) { ?>
			<?php } ?>
			<fieldset><legend><b><?php echo $n['title']?></b></legend><?php echo $n['content']?></fieldset>
			<?php endforeach?>
		<hr>
<?php } ?>
		<table width="100%">
			<tr>
				<td class="approve"><a href="<?php echo $approve_url?>" class="approve">Approve</a></td>
				<td class="decline"><a href="<?php echo $decline_url?>" class="decline">Decline</a></td>
			</tr>
		</table>
	</div>
