<style>
	.ui-tabs .tab { font-size:10px;}
	.ui-tabs .ui-widget-header { background:none;} 
	.ui-corner-all { border:0px}
	.ui-widget		{font-family: arial;font-size:12px;}
</style>

<script>
	$(function() { $('#clientTabs_<{$clients.id}>').tabs().show(); });
</script>

<div class="clients" id="clients_<{$clients.id}>">
	<div id="clientTabs_<{$clients.id}>" style="ui-helper-hidden">
		<ul>
			<li class="tab"><a href="#tabs-1">Current Jobs</a></li>
			<li class="tab"><a href="#tabs-2">Pending Approval</a></li>
			<li class="tab"><a href="#tabs-3">Completed</a></li>
		</ul>
		<div class="ui-state-default">
			<div class="label">
				<a class="ui-button ui-icon ui-icon-triangle-1-e show default" name="jobs" target="clients_<{$clients.id}> .jobs" href="index.php?action=get&type=jobs&from=clients&id=<{$clients.id}>" title="open/close job list"></a><a class="editHandler" href="index.php?action=get&type=clients&id=<{$clients.id}>&r=form"><{$clients.title|stripslashes}></a>
				<div class="options" style="float:right"><a class="editHandler ui-button ui-icon ui-icon-suitcase" href="index.php?action=get&type=jobs&from=clients&id=<{$clients.id}>&r=form&new=1" title="Add new job">+JOB</a></div>
			</div>
		</div>
		<div id="tabs-1"><ul class="jobs"></ul></div>
		<div class="ui-helper-hidden" id="tabs-2"><ul class="approval"></ul></div>
		<div class="ui-helper-hidden" id="tabs-3"><ul class="completed"></ul></h3></div>
	</div>
<div>
