<div id="clients_id_1" class="clients_widget top" data-role="content">
	<div class="ui-state-default label">
		<span class="options"><a class="editHandler ui-button ui-icon ui-icon-suitcase" href="index.php?action=get&type=jobs&from=clients&clients_id=1&new=1" title="Add new job">+ JOB</a></span>
		<a class="editHandler title" href="index.php?action=get&type=clients&clients_id=1&r=form">Loading ... </a>
	</div>
	<div id="tabs-1"><ul class="sortable jobs"></ul></div>
<div>

<script type="text/javascript">
	$(function() { getDataFor('#'+$('.clients_widget').attr('id')+' .jobs','jobs','','clients','1'); });
</script>
