<form method="POST" action="index.php" id="editForm" class="clients">
<input type="hidden" name="action" value="save">
<input type="hidden" name="type" value="clients">
<input type="hidden" name="clients[archived]" class="archived" value="0">
<input type="hidden" name="clients[approved]" class="approved" value="0">
<input type="hidden" name="clients[id]" class="id" value="">
Title: <br />
<input type="text" name="clients[title]" class="title" value=""><Br />
Time Estimate: <br />
<input type="text" name="clients[estimate]" class="estimate" value=""> hrs<Br />
Rate: <br />
<input type="text" name="clients[rate]" class="rate" value=""> <Br />
Description: <br />
<textarea name="clients[content]" class="content" style="width:97%;height:200px"></textarea><Br />
</form>
