<form method="POST" action="index.php" id="editForm">
<input type="hidden" name="action" value="save">
<input type="hidden" name="type" value="tasks">
<input type="hidden" name="from" value="jobs">
<input type="hidden" name="id" value="<{$smarty.get.id}>">
<input type="hidden" name="tasks[id]" value="<{$tasks.id}>">
<input type="hidden" name="tasks[archived]" value="<{$tasks.archived|default:0}>">
<h4 style="padding:0px;margin:0px;">Task Info:</h4>
Title: <input type="text" name="tasks[title]" value="<{$tasks.title|stripslashes|htmlentities}>"> Rate: <input type="text" name="tasks[rate]" value="<{$tasks.rate}>" size="6"> <Br />
Date Start: <input id="start" class="date" type="text" name="tasks[start]" value="<{$tasks.start}>"> Date Finish Est: <input id="finish" class="date" type="text" name="tasks[finish]" value="<{$tasks.finish}>"> <Br />
<h4 style="padding:0px;margin:0px">Approver</h4>
Name: <input type="text" name="tasks[approvername]" value="<{$tasks.approvername}>"> Email: <input type="text" name="tasks[approveremail]" value="<{$tasks.approveremail}>"> <Br />
<h4 style="padding:0px;margin:0px;">Task Description:</h4>
<textarea name="tasks[content]" rows="7" cols="60" style="width:100%;height:300px"><{$tasks.content|stripslashes|htmlentities}></textarea><Br />
</form>
<script>
	$('#finish').datepicker({ showOn:'focus'});
	$('#start').datepicker({ showOn:'focus'});
</script>
