<form method="POST" action="index.php" id="editForm">
<input type="hidden" name="action" value="save">
<input type="hidden" name="type" value="notes">
<input type="hidden" name="from" value="jobs">
<input type="hidden" name="jobs_id" class="jobs_id" value="">
<input type="hidden" name="notes[id]" class="id" value="">
<input type="hidden" name="notes[archived]" class="archive" value="">
<input type="hidden" name="notes[approved]" class="approved" value="0">
Title: <input type="text" name="notes[title]" class="title" value="" style="width:97%"><Br />
Description: <Br>
<textarea rows="7" cols="60" name="notes[content]" class="content" style="height:200px;width:97%"></textarea>
</form>
