<form method="POST" action="index.php" id="editForm">
<input type="hidden" name="action" value="save">
<input type="hidden" name="type" value="tasks">
<input type="hidden" name="from" value="jobs">
<input type="hidden" name="jobs_id" class="jobs_id" value="">
<input type="hidden" name="tasks[id]" class="id" value="">
<input type="hidden" name="tasks[archived]" class="archived" value="">
<input type="hidden" name="tasks[approved]" class="approved" value="0">
<h4 style="padding:0px;margin:0px;">Task Title:</h4>
<input type="text" name="tasks[title]" class="title" value="" style="width:97%;"><Br />
<label for="tasks[rate]">Rate: </label><input type="text" class="rate" name="tasks[rate]" value="" size="6"> <Br />
<label for="tasks[start]">Date Start: </label><input id="start" class="start" type="text" size="11" name="tasks[start]" value=""> <Br />
<label for="tasks[finish]">Date Finish: </label><input id="finish" size="11" class="finish" type="text" name="tasks[finish]" value=""><small>estimate</small> <Br />
<h4 style="padding:0px;margin:0px">Approver</h4>
<label for="tasks[approvername]">Name: </label><input type="text" name="tasks[approvername]" class="approvername" value=""><br/>
<label for="tasks[approveremail]">Email: </label><input type="text" class="approveremail" name="tasks[approveremail]" value=""> <Br />
<h4 style="padding:0px;margin:0px;">Task Description:</h4>
<textarea name="tasks[content]" class="content" rows="7" cols="60" style="width:97%;height:200px"></textarea><Br />
</form>
<script type="text/javascript">
	$('#finish.finish').datepicker({ showOn:'focus'});
	$('#start.start').datepicker({ showOn:'focus'});
</script>
