<div id="container">
    <div id="client-view">
		<div id="main"></div>
	</div>
    <div id="archive-view">
        <h2 class="ui-state-default ui-corner-top" style="padding:3px;margin:0px;text-align:center">Out Box</h2>
        <div id="archive"  style="border:1px solid black;height:200px"><div style="font-size:11px;text-align:center;margin-top:50%">Drag stuff here for approval.</div></div>
    </div>
</div>
<div id="dialog" class="ui-helper-hidden"></div>

<script>
	// Enable my archive component
    $('#archive').droppable(
    {
        tolerance : 'pointer',
        activeClass : "ui-state-active",
        hoverClass  : "ui-state-highlight",
		accept		: '.top',
        drop: function(event,ui)
        {
            uiid = ui.draggable.attr('id');
            dat = uiid.split('_');
            widget = dat[0];
            id = parseInt(dat[2]);
			if (id > 0)
			{
				$.ajax({ url: 'index.php?action=archive&type='+widget+'&'+widget+'_id='+id, dataType: 'json', success: function(data)
				{
					if (data['func'].length) eval(data['func']);
				}});
			}
        }
    });
</script>
