<div id="container">
    <div id="client-view">
		<div id="main"></div>
	</div>
</div>
<div id="dialog" class="ui-helper-hidden"></div>

<script type="text/javascript">
	// Enable my update component
    $('#update').droppable(
    {
        tolerance : 'pointer',
        activeClass : "ui-state-active",
        hoverClass  : "ui-state-highlight",
		accept		: '.top',
        drop: function(event,ui)
        {
            uiid = ui.draggable.attr('id');
            dat = uiid.split('_');
            widget = dat[0];
            id = parseInt(dat[2]);
			if (id > 0)
			{
				$.ajax({ url: 'index.php?action=sendupdate&amp;type='+widget+'&amp;'+widget+'_id='+id, dataType: 'json', success: function(data)
				{
					if (data['func'].length) eval(data['func']);
				}});
			}
        }
    });

	// Enable my archive component
    $('#archive').droppable(
    {
        tolerance : 'pointer',
        activeClass : "ui-state-active",
        hoverClass  : "ui-state-highlight",
		accept		: '.top',
        drop: function(event,ui)
        {
            uiid = ui.draggable.attr('id');
            dat = uiid.split('_');
            widget = dat[0];
            id = parseInt(dat[2]);
			if (id > 0)
			{
				$.ajax({ url: 'index.php?action=archive&amp;type='+widget+'&amp;'+widget+'_id='+id, dataType: 'json', success: function(data)
				{
					if (data['func'].length) eval(data['func']);
				}});
			}
        }
    });
</script>
