<div id="jobs" class="jobs_widget top">
	<div class="ui-state-default">
	<a href="index.php?" class="ui-button ui-icon ui-icon-triangle-1-e openboth">&gt;</a>
	<a class="ui-button ui-icon ui-icon-comment editHandler" href="index.php?action=get&type=notes&from=jobs&new=1" title="Add note">+ Note</a>
	<a class="ui-button ui-icon ui-icon-note editHandler" href="index.php?action=get&type=tasks&from=jobs&new=1" title="Add task">+ Task</a>
	<a href="index.php?action=get&type=jobs" class="ui-button editHandler title">title</a>
		<div class="ui-state-active ui-helper-hidden">
			Job Driver: <span class="approvername"></span>&nbsp; <span class="approveremail"></span>
		</div>
	</div>
	<div>
		<blockquote class="content"></blockquote>
		<ul class="sortable tasks" style="margin-top:7px;"></ul>
		<ul class="sortable notes" style="margin-top:7px;"></ul>
	</div>
</div>
