<li id="jobs" class="jobs_widget top">
	<div class="ui-state-default">
		<a href="?" class="ui-button ui-icon ui-icon-triangle-1-e openboth"> > </a><a href="index.php?action=get&type=jobs" class="editHandler title" style="line-height:25px;margin-left:7px;">title</a>
		<div style="float:right">
			<a class="ui-button ui-icon ui-icon-comment editHandler" href="index.php?action=get&type=notes&from=jobs&new=1" title="Add note"></a>
			<a class="ui-button ui-icon ui-icon-note editHandler" href="index.php?action=get&type=tasks&from=jobs&new=1" title="Add task"></a>
		</div>
	</div>
	<div class="label ui-state-highlight">
		<div class="content"></div>
		<ul class="sortable notes" style="margin-top:7px;"></ul>
		<ul class="sortable tasks" style="margin-top:7px;"></ul>
	</div>
</li>
