<?php echo $_REQUEST['a']; ?>
<li id="jobs" class="jobs_widget top">
	<table width="100%" cellpadding=0 cellspacing=0 style="border:0px;padding:0px;margin:0px">
		<tr>
			<td style="width:20px;" class="ui-state-default">
				<a href="?" class="ui-button ui-icon ui-icon-triangle-1-e openboth"> > </a>
			</td>
			<td class="ui-state-default">
				<a href="index.php?action=get&type=jobs" class="editHandler title" style="">title</a>
			</td>
			<td align="right" class="ui-state-default" style="width:40px">
				<a class="ui-button ui-icon ui-icon-comment editHandler" href="index.php?action=get&type=notes&from=jobs&new=1" title="Add note"></a>
				<a class="ui-button ui-icon ui-icon-note editHandler" href="index.php?action=get&type=tasks&from=jobs&new=1" title="Add task"></a>
			</td>
		</tr>
	</table>
	<div class="label ui-state-highlight">
		<span class="approvername"></span>
		<p class="content"></p>
		<ul class="sortable notes" style="margin-top:7px;"></ul>
		<ul class="sortable tasks" style="margin-top:7px;"></ul>
	</div>
</li>
