<div id="notes" class="notes_widget top">
	<div class="date ui-state-active">
		<label for="updated" class="ui-helper-hidden">Updated: </label><span class="updated"></span>
		<input type="checkbox" class="completed" value=""/>
	</div>
	<div class="label ui-state-default" ><a href="index.php?action=get&type=notes" class="editHandler">
			<span class="ui-icon ui-icon-comment" style="float:left;margin-top:-2px;"></span>
			<span class="title"></span></a>
	</div>
	<div class="desc ui-state-active content" style="overflow:auto;max-height:7em;"></div>
</div>
