<div id="tasks" class="tasks_widget top">
	<div class="label ui-state-highlight" >
			<span style="float:left;margin-top:-2px;"><input type="checkbox" class="completed" value=""/></span>
			<a href="index.php?action=get&type=tasks" class="editHandler" style="color:white">
			<span class="title"></span></a>
	</div>
	<div class="date ui-state-active">
		<div>Start: <span class="start"></span> Due: <span class="finish"></span></div>
		<span class="approvertitle">For:</span><span class="approvername"></span>
	</div>
	<div class="desc ui-state-active content"></div>
</div>

