
<li id="tasks_<{$tasks.id}>" class="tasks_widget">
	<div class="label ui-state-default" ><a href="index.php?action=get&type=tasks&id=<{$tasks.id}>&r=form" class="editHandler"><span class="ui-icon ui-icon-note" style="float:left;margin-top:-2px"></span><{$tasks.title|stripslashes}></a></div>
	<div class="date ui-state-active">
		<div style="float:left">Start: <{$tasks.start}></div><div style="float:right">Due: <{$tasks.finish}></div>
	</div>
	<div id="desc_<{$tasks.id}>" class="ui-state-active desc">
		<{$tasks.content|nl2br|stripslashes}>
	</div>
</li>
