<div id="tasks" class="tasks_widget top">
	<div class="label ui-state-default" ><a href="index.php?action=get&type=tasks" class="editHandler">
			<span class="ui-icon ui-icon-note" style="float:left;margin-top:-2px;"></span>
			<span class="title"></span></a>
	</div>
	<div class="date ui-state-active">
		<div>Start: <span class="start"></span> Due: <span class="finish"></span></div>
		<div class="approvertitle">For:</div><span class="approvername"></span>
	</div>
	<div class="desc ui-state-active content"></div>
</div>

